# Git
.git
.gitignore
.gitattributes

# Node
node_modules
.npm
.npmrc
pnpm-lock.yaml

# Build artifacts
dist/
.turbo/
.next/

# Development
.vscode/
.idea/
*.swp
*.swo
*.iml

# CI/CD
.github/
.circleci/
.travis.yml

# Documentation
docs/
*.md
CHANGELOG.md
README.md
LICENSE

# OS
.DS_Store
Thumbs.db

# Testing
.mocha/
.coverage/
.nyc_output/
test/

# Misc
.env.example
.env.local
.env.*.local
.versionrc.json
scripts/
extensions/
packages/
qa/
dist.json
npm-shrinkwrap.json
